.contenedor{
  --ion-background-color: rgba(127, 16, 16, 0.849);
}

.conte_form{
  --ion-background-color: white;
}

.texto_olvidastes_contra{
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.submit {
    background-color: rgb(48, 46, 46); /* Color de fondo deseado */
    border-radius: 15px;
    box-shadow: none; /* Sin sombra */
    font-weight: bolder;
    color: white; /* Color del texto */

    /* Sobrescribir el estilo predeterminado del botón en modo iOS */
    --background-focused: rgb(48, 46, 46);
    --background-hover: rgb(48, 46, 46);
    --background-activated: rgb(48, 46, 46);
    --background: rgb(48, 46, 46);
  }

.registrarse {
    background-color: rgb(48, 46, 46); /* Color de fondo deseado */
    border-radius: 15px; /* Sin bordes */
    box-shadow: none; /* Sin sombra */
    font-weight: bolder;
    color: white; /* Color del texto */

    /* Sobrescribir el estilo predeterminado del botón en modo iOS */
    --background-focused: rgb(48, 46, 46);
    --background-hover: rgb(48, 46, 46);
    --background-activated: rgb(48, 46, 46);
    --background: rgb(48, 46, 46);
  }

.validators{
  color: white;
}


