<ion-header>
  <ion-toolbar>
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-button (click)="closePopup()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título del Pokémon -->
    <ion-title>{{ pokemonData?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemonData">
  <ion-card>
    <img class="img" [src]="pokemonData.image" alt="Imagen de {{ pokemonData.name }}" />
    <ion-card-header>
      <ion-card-title>{{ pokemonData.name | titlecase }}</ion-card-title>
      <ion-card-subtitle>ID: {{ pokemonData.id }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Tipo:</strong> {{ pokemonData.types | titlecase }}</p>
      <p><strong>Habilidades:</strong>
        <span *ngFor="let ability of pokemonData.abilities; let last = last">
          {{ ability.ability.name | titlecase }}
          <span *ngIf="!last">, </span>
        </span>
      </p>
      <p><strong>Vida:</strong> {{ pokemonData.hp }}</p>

    </ion-card-content>
  </ion-card>
</ion-content>
